* {
    box-sizing: border-box;
}

.header {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 350px;
    height: 270px;
    object-fit: cover;
}

.right-article {
    margin-left: 100px;
    margin-right: 100px;
}

.left-article {
    margin-top: 16px;
    margin-bottom: 50px;
    margin-left: 100px;
}


.row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.form-container {
    margin-top: 100px;
}

input {
    margin: 10px;
}

.no-margin {
    margin-left: 0;
}
